* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: #1c80a8;
	transition: color .35s ease;
}

p {
	line-height: 1.5;
}

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
	margin-top: 0.5em;
}

a:hover {
	color: #33ccff;
}

html {
	background-color: #444;
}

body {
	font-family: 'Source Sans Pro', 'Segoe UI', Arial, sans-serif;
}
