
/* =====================
	generelles Layout
======================== */

	/* Wrapper-Klassen  */

	.wrapper {
		max-width: 960px;
		margin: 0 auto;
		overflow-x: hidden;
	}


	/* Header */

	.header {
		overflow: auto;
		display: flex;
		align-items: center;
	}

	.header__logo {
		width: 30%;
		float: left;
		padding: 1em;
	}
	.header__navigation {
		width: 70%;
		float: right;
		padding: 0 1em;
	}

	/* Content */

	.content {

	}

	/* Teaser */

	.content__teaser {
		/* height: 50vh; */
		padding: 2em 0;
	}

	.teaser__text {
		padding: 1em 4em;
		display: flex;
		flex-direction: column-reverse;
	}

	/* Acts-List (home) */

	.content__acts-list {
		padding: 1em 2em;
	}

	.acts-list__list {
		overflow: auto;
		margin-top: 2em;
	}

	.acts-list__list__item {
		width: calc(25% - 3em);
		float: left;
		margin-right: 3em;
	}

	.acts-list__list__item:last-child {
		margin-right: 0;
	}
	.acts-list__list__item:first-child {
		margin-left: 1.5em;
	}

	/* Acts */

	.act {
		text-align: center;
	}

	.act__image {

	}

	.act__caption {

	}

	.act__name {

	}

	.act__genre {
		margin-top: 0;
	}

	/* Footer */

	.footer {
		padding: 2em;
		overflow: auto;
	}

	.footer__minipressum {
		width: 70%;
		float: left;
	}

	.footer__social-media {
		width: 30%;
		float: right;
	}

	/* Lists */

	.list--social-media {
	}

	.list__item {
		float: left;
	}
	.list__item + .list__item {
		margin-left: 1em;
	}

	/* Menus */

	.menu--main {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
	.menu__item {
		float: left;
	}
